*.dll
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.exe
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/obj/Debug/net8.0/apphost.exe
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfo.cs
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfoInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.sourcelink.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/ref/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/refint/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/project.nuget.cache
backend/be-quanlikhachsanapi/obj/project.assets.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.pack.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.development.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.build.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/refint/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/ref/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.sourcelink.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.genruntimeconfig.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.GeneratedMSBuildEditorConfig.editorconfig
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.CoreCompileInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.AssemblyReference.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.assets.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfoInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfo.cs
backend/be-quanlikhachsanapi/obj/Debug/net8.0/apphost.exe
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.g.props
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.dgspec.json
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.staticwebassets.runtime.json
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.exe
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.exe
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.staticwebassets.runtime.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.dgspec.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.g.props
backend/be-quanlikhachsanapi/obj/Debug/net8.0/apphost.exe
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfo.cs
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfoInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.assets.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.AssemblyReference.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.CoreCompileInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.GeneratedMSBuildEditorConfig.editorconfig
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.genruntimeconfig.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.sourcelink.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/ref/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/refint/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.build.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.development.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.pack.json
backend/be-quanlikhachsanapi/obj/project.assets.json
backend/be-quanlikhachsanapi/obj/project.nuget.cache
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.exe
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.staticwebassets.runtime.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.dgspec.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.g.props
backend/be-quanlikhachsanapi/obj/Debug/net8.0/apphost.exe
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfo.cs
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfoInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.assets.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.AssemblyReference.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.CoreCompileInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.GeneratedMSBuildEditorConfig.editorconfig
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.genruntimeconfig.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.sourcelink.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/ref/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/refint/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.build.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.development.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.pack.json
backend/be-quanlikhachsanapi/obj/project.assets.json
backend/be-quanlikhachsanapi/obj/project.nuget.cache
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.exe
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.staticwebassets.runtime.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.dgspec.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.g.props
backend/be-quanlikhachsanapi/obj/Debug/net8.0/apphost.exe
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfo.cs
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfoInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.assets.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.AssemblyReference.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.CoreCompileInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.GeneratedMSBuildEditorConfig.editorconfig
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.genruntimeconfig.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.sourcelink.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/ref/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/refint/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.build.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.development.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.pack.json
backend/be-quanlikhachsanapi/obj/project.assets.json
backend/be-quanlikhachsanapi/obj/project.nuget.cache
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.exe
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/bin/Debug/net8.0/be-quanlikhachsanapi.staticwebassets.runtime.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.dgspec.json
backend/be-quanlikhachsanapi/obj/be-quanlikhachsanapi.csproj.nuget.g.props
backend/be-quanlikhachsanapi/obj/Debug/net8.0/apphost.exe
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfo.cs
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.AssemblyInfoInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.assets.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.AssemblyReference.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.csproj.CoreCompileInputs.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.GeneratedMSBuildEditorConfig.editorconfig
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.genruntimeconfig.cache
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.pdb
backend/be-quanlikhachsanapi/obj/Debug/net8.0/be-quanlikhachsanapi.sourcelink.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/ref/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/refint/be-quanlikhachsanapi.dll
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.build.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.development.json
backend/be-quanlikhachsanapi/obj/Debug/net8.0/staticwebassets.pack.json
backend/be-quanlikhachsanapi/obj/project.assets.json
backend/be-quanlikhachsanapi/obj/project.nuget.cache
